body {
  background-color: #6D695C;
  font-size: 100%;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  line-height: 1.4;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

main {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  padding: 0;
  color: #000;
  background-color: rgba(204,204,204,.7);
  /*border: .07em solid rgba(0,0,0,.5);*/
  border-radius: .5em;
}



.tab {display:none}

.default-tab {display:block}

:target ~ .default-tab {display:none}

#tab1:target ~ .tab1,
#tab2:target ~ .tab2,
#tab3:target ~ .tab3 {
  display: block
}


/*Strip the ul of padding and list styling*/
header {
  display: table;   /* Allow the centering to work */
  margin: 0 auto !important;
}

/*Create a horizontal list with spacing*/
header ul {
  list-style: none;
  padding-left: 0;
}



/*Create a horizontal list with spacing*/
header li {
    /*display:inline-block;*/
    display:inline-block;
}

/*Style for menu links*/
header li a {
    display:block;
    min-width:140px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

/*Hover state for top level links*/
header li:hover a {
    background: #19c589;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 0 auto;
    display: none;
    width:100%;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #men{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    header ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    header li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    header ul li, header li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

